<div class="hidden">
<div class="unfocus find-family small-6 columns text-left" data-form="search">
  <%= form_for user, url: search_path do |f| %>
      <div class="small-3 columns">
        <%= label_tag(:firstname, "given name") %>
      </div>
      <div class="small-9 columns">
        <%= f.text_field :firstname %>
      </div>
      <div class="small-3 columns">
        <%= label_tag(:lastname, "family name") %>
      </div>
      <div class="small-9 columns">
        <%= f.text_field :lastname %>
      </div>
      <div class="small-3 columns">
        <%= label_tag(:dob, "date of birth") %>
      </div>
      <div class="small-9 columns">
      <%= f.text_field :dob %>
      </div>
      <div class="small-6 columns">
        <%= label_tag(:country_of_birth, "country_of_birth")%>
      </div>
      <div class="small-6 columns">
        <select data-select="country">
          <option>please select country</option>
          <% countries.each do |country| %>
          <option><%= country.name %></option>
          <% end %>
        </select>
        </div>

<!--         <%= f.submit "Submit", class:"button" %></span> -->
  <% end %>
</div>
</div>
</div>