<h1>Hi, <%=link_to(@user.firstname, user_path(@user))%></h1>
<h2>You last logged in on <%=timestamp(@user.updated_at)%></h2>
<%=link_to('View full profile', user_path(@user))%>
<h1> To get started, let us know what you need: </h1>

<%=link_to("Find Family", find_user_path)%>
<%=link_to("Healthcare", dashboard_path)%>
<%=link_to("Job", dashboard_path)%>
<%=link_to("Housing", dashboard_path)%><br>

<%=link_to("Bank Account", dashboard_path)%>
<%=link_to("School", dashboard_path)%>
<%=link_to("Transportation", dashboard_path)%>
<%=link_to("Communication", dashboard_path)%>