<h1>Hi, <%=link_to(@user.firstname, user_path(@user))%></h1>
<h2>You last logged in on <%=@user.updated_at%></h2>
<%=link_to('View full profile', user_path(@user))%>
<h1> To get started, let us know what you need: </h1>

<%=link_to("Find Family", find_user_path)%>
<%=link_to("Healthcare", root_path)%>
<%=link_to("Job", root_path)%>
<%=link_to("Housing", root_path)%><br>

<%=link_to("Bank Account", root_path)%>
<%=link_to("School", root_path)%>
<%=link_to("Transportation", root_path)%>
<%=link_to("Communication", root_path)%>