<%= form_for user, url: search_path do |f| %>
 <span><%= label_tag(:firstname, "given name") %><%= f.text_field :firstname %></span>
  <span><%= label_tag(:lastname, "family name") %><%= f.text_field :lastname %></span>
  <span><%= label_tag(:dob, "date of birth") %><%= f.text_field :dob %></span>
  <span><%= label_tag(:city_of_birth, "city of birth") %><%= f.text_field :city_of_birth%></span>
  <span><%= label_tag(:country_of_birth, "country_of_birth")%><select>
  <span><%= label_tag(:city_of_origin, "city of origin") %><%= f.text_field :city_of_origin%></span> 
  <span><%= label_tag(:country_of_origin, "country of origin") %><select>
  <span><%= label_tag(:current_city, "current city") %><%= f.text_field :current_city %></span>

  <span><%= f.submit "Submit", class:"button" %></span>
<% end %>