<div class="content">
<div class="row">
 <div class="small-12 medium-9 medium-centered text-center columns">
    <br><br>
    <%=image_tag(@user.picture, :id=>"profile-pic")%>
    <h1 class="text-center"><%= @user.firstname.capitalize %> <%= @user.lastname.capitalize %></h1>
    <h4>Last login: <%= timestamp(@user.updated_at) %></h4>
    <br>
    <p><%= link_to "Update My Info", edit_user_path(@user), class: "button round" %></p>

    <ul class="no-bullet text-left vcard">

    <li><% unless @user.dob.nil? %>
    Date of Birth: <span class="state"><%= @user.dob %></span><br>
    <% end %></li>

    <li>
    <% unless @user.current_city.nil? %>
    Current city: <span class="state"><%= @user.current_city %></span>
    <% end %></li>

    <li>
    <% unless @user.city_of_birth.nil? %>
    Place of Birth: <span class="state"><%= @user.city_of_birth %>, <%= @user.country_of_birth %><br>
    <% end %></li>
    </ul>
  </div>
</div>
</div>