<%= @user.picture %>

<p><%= link_to "Change My Info", edit_user_path(@user) %></p>

<h1><%= @user.firstname.capitalize %> <%= @user.lastname.capitalize %></h1>

<% unless @user.dob.nil? %>
  Date of Birth: <%= @user.dob %><br>
<% end %>

<% unless @user.city_of_birth.nil? %>
  Born in <%= @user.city_of_birth %>, <%= @user.country_of_birth %><br>
<% end %>

<% unless @user.city_of_origin.nil? %>
  Came from <%= @user.city_of_origin %>, <%= @user.country_of_origin %><br>
<% end %>

<% unless @user.current_city.nil? %>
  Current city: <%= @user.current_city %>
<% end %>

Last logged in on <%= timestamp(@user.updated_at) %>
